/* Reinicio de estilos
------------------------------------------------------------------------------*/
*{outline: none;}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title], dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}
input, select{vertical-align:middle;}

/* Generales
------------------------------------------------------------------------------*/
* {
    -webkit-tap-highlight-color:  rgba(0,0,0,0);
}

html,
body {
    width: 100%;
    min-height: 100vh;
}

html {
    -ms-touch-action: manipulation;
        touch-action: manipulation;
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
}

main {
    display: block;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #CCC;
    margin: 1em 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* Contenedores
------------------------------------------------------------------------------*/
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
    display: block;
    clear: both;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

/* Alineaciones
------------------------------------------------------------------------------*/
.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-justify {
    text-align: justify !important;
}

/* Ocultar y quitar animaciones y scroll a elementos
------------------------------------------------------------------------------*/
.notransition {
    -webkit-transition: none !important;
       -moz-transition: none !important;
        -ms-transition: none !important;
         -o-transition: none !important;
            transition: none !important;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

.noscroll {
    overflow: hidden!important;
}

/* Columnas
------------------------------------------------------------------------------*/
.row {
    position: relative;
}

.row::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.row [class*="span"] {
    float: none;
    width: 100%;
    min-height: 1px;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

@media (min-width: 768px) {
    .row [class*="span"] {
        float: left;
    }

    .row .span12 { width: 100%; }
    .row .span11 { width: 91.66666667%; }
    .row .span10 { width: 83.33333333%; }
    .row .span9  { width: 75%; }
    .row .span8  { width: 66.66666667%; }
    .row .span7  { width: 58.33333333%; }
    .row .span6  { width: calc(100% / 2); }
    .row .span5  { width: 41.66666667%; }
    .row .span4  { width: calc(100% / 3); }
    .row .span3  { width: calc(100% / 4); }
    .row .span2  { width: calc(100% / 6); }
    .row .span1  { width: 8.33333333%; }

    .row [class*="span"].prefix12 { margin-left: 100%; }
    .row [class*="span"].prefix11 { margin-left: 91.66666667%; }
    .row [class*="span"].prefix10 { margin-left: 83.33333333%; }
    .row [class*="span"].prefix9  { margin-left: 75%; }
    .row [class*="span"].prefix8  { margin-left: 66.66666667%; }
    .row [class*="span"].prefix7  { margin-left: 58.33333333%; }
    .row [class*="span"].prefix6  { margin-left: 50%; }
    .row [class*="span"].prefix5  { margin-left: 41.66666667%; }
    .row [class*="span"].prefix4  { margin-left: 33.33333333%; }
    .row [class*="span"].prefix3  { margin-left: 25%; }
    .row [class*="span"].prefix2  { margin-left: 16.66666667%; }
    .row [class*="span"].prefix1  { margin-left: 8.33333333%; }
    .row [class*="span"].prefix0  { margin-left: 0%; }

    .row [class*="span"].suffix12 { margin-right: 100%; }
    .row [class*="span"].suffix11 { margin-right: 91.66666667%; }
    .row [class*="span"].suffix10 { margin-right: 83.33333333%; }
    .row [class*="span"].suffix9  { margin-right: 75%; }
    .row [class*="span"].suffix8  { margin-right: 66.66666667%; }
    .row [class*="span"].suffix7  { margin-right: 58.33333333%; }
    .row [class*="span"].suffix6  { margin-right: 50%; }
    .row [class*="span"].suffix5  { margin-right: 41.66666667%; }
    .row [class*="span"].suffix4  { margin-right: 33.33333333%; }
    .row [class*="span"].suffix3  { margin-right: 25%; }
    .row [class*="span"].suffix2  { margin-right: 16.66666667%; }
    .row [class*="span"].suffix1  { margin-right: 8.33333333%; }
    .row [class*="span"].suffix0  { margin-right: 0%; }
}

/* Visibles
------------------------------------------------------------------------------*/
.visible-phone,
.visible-tablet,
.visible-desktop,
.visible-desktop-large {
    display: none !important;
}

.visible-phone-block,
.visible-phone-inline,
.visible-phone-inline-block,
.visible-tablet-block,
.visible-tablet-inline,
.visible-tablet-inline-block,
.visible-desktop-block,
.visible-desktop-inline,
.visible-desktop-inline-block,
.visible-desktop-large-block,
.visible-desktop-large-inline,
.visible-desktop-large-inline-block {
    display: none !important;
}

/* Extra small devices: Phones (< 768px)  */
/* Portrait and landscape  */
@media (max-width: 767px) {
    .row [class*="span"] {
        width: 100%;
    }

    .visible-phone {
        display: block !important;
    }

    table.visible-phone {
        display: table;
    }

    tr.visible-phone {
        display: table-row !important;
    }

    th.visible-phone,
    td.visible-phone {
        display: table-cell !important;
    }

    .visible-phone-block {
        display: block !important;
    }

    .visible-phone-inline {
        display: inline !important;
    }

    .visible-phone-inline-block {
        display: inline-block !important;
    }

    .hidden-phone {
        display: none !important;
    }
}

/* Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Small devices: Tablets (>= 768px) */
@media (min-width: 768px) and (max-width: 991px) {
    .visible-tablet {
        display: block !important;
    }

    table.visible-tablet {
        display: table;
    }

    tr.visible-tablet {
        display: table-row !important;
    }

    th.visible-tablet,
    td.visible-tablet {
        display: table-cell !important;
    }

    .visible-tablet-block {
        display: block !important;
    }

    .visible-tablet-inline {
        display: inline !important;
    }

    .visible-tablet-inline-block {
        display: inline-block !important;
    }

    .hidden-tablet {
        display: none !important;
    }
}

/* Medium devices: Desktops (>= 992px ) */
@media (min-width: 992px) and (max-width: 1199px) {
    .visible-desktop {
        display: block !important;
    }

    table.visible-desktop {
        display: table;
    }

    tr.visible-desktop {
        display: table-row !important;
    }

    th.visible-desktop,
    td.visible-desktop {
        display: table-cell !important;
    }

    .visible-desktop-block {
        display: block !important;
    }

    .visible-desktop-inline {
        display: inline !important;
    }

    .visible-desktop-inline-block {
        display: inline-block !important;
    }

    .hidden-desktop {
        display: none !important;
    }
}

/* Large devices: Desktops (>= 1200px ) */
@media (min-width: 1200px) {
    .visible-desktop-large {
        display: block !important;
    }

    table.visible-desktop-large {
        display: table;
    }

    tr.visible-desktop-large {
        display: table-row !important;
    }

    th.visible-desktop-large,
    td.visible-desktop-large {
        display: table-cell !important;
    }

    .visible-desktop-large-block {
        display: block !important;
    }

    .visible-desktop-large-inline {
        display: inline !important;
    }

    .visible-desktop-large-inline-block {
        display: inline-block !important;
    }

    .hidden-desktop-large { display: none !important; }
}

/* Clearing */
/**
 * Clear Fix hack
 * Usage:  add  class="fixed"  to div's that have floated elements in them
 */
.fixed::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/**
 * Clear content
 * Usage:  <br class="clear">
 */
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* Espacios divisorios
------------------------------------------------------------------------------*/
[class*="space"] {
    display: block;
}

.space10,.space-bottom10 {
    padding-bottom: 10px;
}

.space20,.space-bottom20 {
    padding-bottom: 20px;
}

.space30,.space-bottom30 {
    padding-bottom: 30px;
}

.space40,.space-bottom40 {
    padding-bottom: 40px;
}

.space50,.space-bottom50 {
    padding-bottom: 50px;
}

.space100,.space-bottom100 {
    padding-bottom: 100px;
}

.space200,.space-bottom200 {
    padding-bottom: 200px;
}

.space-top10 {
    padding-top: 10px;
}

.space-top20 {
    padding-top: 20px;
}

.space-top30 {
    padding-top: 30px;
}

.space-top40 {
    padding-top: 40px;
}

.space-top50 {
    padding-top: 50px;
}

.space-top100 {
    padding-top: 100px;
}

.space-top200 {
    padding-top: 200px;
}

/* Tipografia
------------------------------------------------------------------------------*/
html * {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

html, body {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    color: #222;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 56px;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: -0.02em;
    opacity: 0.54;
    font-size: 0.6em;
}

h1 {
    font-size: 56px;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: -0.02em;
    margin-top: 5px;
    margin-bottom: 15px;
}

h2 {
    font-size: 45px;
    font-weight: 400;
    line-height: 1.35;
    margin-top: 5px;
    margin-bottom: 15px;
}

h3 {
    font-size: 34px;
    font-weight: 400;
    line-height: 1.35;
    margin-top: 5px;
    margin-bottom: 15px;
}

h4 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.35;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 5px;
    margin-bottom: 15px;
}

h5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.35;
    letter-spacing: 0.02em;
    margin-top: 5px;
    margin-bottom: 15px;
}

h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: 0.04em;
    margin-top: 5px;
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    h1 { font-size: 46px; }
    h2 { font-size: 35px; }
    h3 { font-size: 28px; }
    h4 { font-size: 24px; }
    h5 { font-size: 20px; }
    h6 { font-size: 16px; }
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    margin-bottom: 16px;
    color: #636363;
}

a {
    color: #2196F3;
    font-weight: 500;
}

strong {
    font-weight: bold;
}

blockquote {
    display: block;
    background: #f9f9f9;
    padding: 15px 20px 15px 45px;
    margin: 0 0 20px;
    position: relative;
    font-size: 14px;
    line-height: 1.2;
    color: #757575;
    text-align: justify;
    border-left: 10px solid #ccc;
    border-right: 2px solid #ccc;
}

blockquote::before {
    content: "\201C";
    /*font-family: Georgia, serif;*/
    font-size: 60px;
    font-weight: bold;
    color: #CCC;
    position: absolute;
    left: 10px;
    top: 0px;
    line-height: 1.2 !important;
}

blockquote::after {
    content: "";
}

blockquote p {
  display: inline;
  margin: 0;
}

mark {
    background-color: #f4ff81;
}

dt {
    font-weight: 700;
}

address {
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
    font-style: normal;
}

ul, ol {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
}

/* Botoneria
------------------------------------------------------------------------------*/
.btn,
button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
    background-color: #dedede;
    color: #222;
    font-weight: 400;
    text-decoration: none;
    border-radius: 1px;
    overflow: hidden;
    line-height: 1.5;
    box-sizing: border-box;
    font-size: 14px;
    opacity: 1;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.btn:not([href]) {
    cursor: default;
}

.btn:hover:not([disabled]),
button:hover:not([disabled]) {
    background-color: #cecece;
}

.btn[href]:hover:not([disabled]),
button:hover:not([disabled]) {
    text-decoration: underline;
}

.btn[disabled],
button[disabled] {
    opacity: 0.5;
    cursor: default;
}

.btn.btn-flat,
button.btn-flat {
    background-color: transparent!important;
}

/*warning*/
.btn.btn-warning,
button.btn-warning {
    background-color: #ffa000;
    color: #FFF;
}

.btn.btn-warning:hover:not([disabled]),
button.btn-warning:hover:not([disabled]) {
    background-color: #ff6f00;
}

.btn.btn-flat.btn-warning,
button.btn-flat.btn-warning {
    color: #222;
}

/*alert*/
.btn.btn-alert,
button.btn-alert {
    background-color: #d32f2f;
    color: #FFF;
}

.btn.btn-alert:hover:not([disabled]),
button.btn-alert:hover:not([disabled]) {
    background-color: #b71c1c;
}

.btn.btn-flat.btn-alert,
button.btn-flat.btn-alert {
    color: #222;
}

/*success*/
.btn.btn-success,
button.btn-success {
    background-color: #388e3c;
    color: #FFF;
}

.btn.btn-success:hover:not([disabled]),
button.btn-success:hover:not([disabled]) {
    background-color: #1b5e20;
}

.btn.btn-flat.btn-success,
button.btn-flat.btn-success {
    color: #222;
}

/*colored*/
.btn.btn-colored,
button.btn-colored {
    background-color: #0288d1;
    color: #FFF;
}

.btn.btn-colored:hover:not([disabled]),
button.btn-colored:hover:not([disabled]) {
    background-color: #01579b;
}

.btn.btn-flat.btn-colored,
button.btn-flat.btn-colored {
    color: #222;
}

/* Dropmenu
------------------------------------------------------------------------------*/
div.dropmenu {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: 50px;
    min-width: 50px;
    position: relative;
}

div.dropmenu > button {
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: transparent!important;
    text-decoration: none!important;
    margin: 0;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.dropmenu > div.dropdown {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FFF;
    text-align: left;
    min-width: 200px;
    max-width: 400px;
    min-height: 50px;
    max-height: 300px;
    border-radius: 2px;
    overflow: hidden;
    overflow-y: auto;
    padding: 10px 0;
    z-index: 10;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
                        0 3px 1px -2px rgba(0,0,0,.2),
                        0 1px 5px 0 rgba(0,0,0,.12);
       -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
                        0 3px 1px -2px rgba(0,0,0,.2),
                        0 1px 5px 0 rgba(0,0,0,.12);
        -ms-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
                        0 3px 1px -2px rgba(0,0,0,.2),
                        0 1px 5px 0 rgba(0,0,0,.12);
         -o-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
                        0 3px 1px -2px rgba(0,0,0,.2),
                        0 1px 5px 0 rgba(0,0,0,.12);
            box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
                        0 3px 1px -2px rgba(0,0,0,.2),
                        0 1px 5px 0 rgba(0,0,0,.12);
            box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
                        0 3px 1px -2px rgba(0,0,0,.2),
                        0 1px 5px 0 rgba(0,0,0,.12);
}

div.dropmenu > div.dropdown.open {
    display: block;
}

div.dropmenu.to-left > div.dropdown {
    right: inherit;
    left: 0px;
}

div.dropmenu > div.dropdown > a {
    position: relative;
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #757575;
    font-size: 14px;
    opacity: 0.5;
}

div.dropmenu.with-icon > div.dropdown > a,
div.dropmenu > div.dropdown > a.with-icon {
    padding-left: 50px;
}

div.dropmenu > div.dropdown > a[href] {
    opacity: 1;
}

div.dropmenu > div.dropdown > a[href]:hover {
    background-color: #f7f7f7;
}

div.dropmenu > div.dropdown > a > i[class^="icon"] {
    position: absolute;
    top: 0;
    left: 15px;
    bottom: 0;
    margin: auto;
    color: #757575;
    width: 1em;
    height: 1em;
}

div.dropmenu > div.dropdown > span.space {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #eaeaea;
    margin: 10px 0;
}

/* Inputs
------------------------------------------------------------------------------*/
div.label {
    position: relative;
    display: block;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

div.label:last-child {
    margin-bottom: 0;
}

div.label label {
    display: block;
    position: relative;
    margin-top: 20px;
}

div.label label:first-child {
    margin-top: 0px;
}

div.label label > p {
    margin: 0;
    font-size: 17px;
    line-height: 1;
    margin-bottom: 10px;
    padding: 0 10px;
}

div.label label.error > p:not(.description) {
    color: #f44336;
}

div.label label input,
div.label label select,
div.label label textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    padding: 0 10px;
    border: 1px solid #f3f3f3;
    background-color: #f3f3f3;
    border-radius: 2px;
    padding-top: 13.5px;
    padding-bottom: 13.5px;
}

div.label label input:focus,
div.label label select:focus,
div.label label textarea:focus {
    border-color: #cacaca;
}

div.label label.error input,
div.label label.error select,
div.label label.error textarea {
    border-color: #f44336!important;
}

div.label label textarea {
    padding: 10px;
    height: 150px;
    resize: none;
}

div.label label > p.description,
div.label label > p.error {
    font-size: 12px;
    margin: 10px 0 0;
}

div.label label > p.error {
    color: #f44336;
}

/* Modal
------------------------------------------------------------------------------*/
[data-button-modal] {
    cursor: pointer !important;
}

section.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    overflow-y: auto;
    /*display: none;*/
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.2s ease all;
       -moz-transition: 0.2s ease all;
        -ms-transition: 0.2s ease all;
         -o-transition: 0.2s ease all;
            transition: 0.2s ease all;
}

section.modal.view {
    /*display: block;*/
    visibility: visible;
    opacity: 1;
}

section.modal > div.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 50px auto;
    width: 90%;
    max-width: 600px;
    background-color: #FFF;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    -webkit-transition: 0.2s ease all;
       -moz-transition: 0.2s ease all;
        -ms-transition: 0.2s ease all;
         -o-transition: 0.2s ease all;
            transition: 0.2s ease all;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}

section.modal.view > div.content {
    -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
}

section.modal.centered > div.content {
    bottom: 0;
    margin: auto;
    height: 50vh;
}

section.modal.size-big > div.content,
section.modal.fullscreen > div.content {
    max-width: initial;
}

section.modal.size-small > div.content {
    max-width: 400px;
}

section.modal.fullscreen > div.content {
    width: 100%;
    min-height: 100vh;
    margin: auto;
}

section.modal > div.content > header,
section.modal > div.content > main,
section.modal > div.content > footer {
    position: relative;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

section.modal > div.content > header {
    background-color: #0288d1;
    color: #FFF;
}

section.modal > div.content > header > h3 {
    margin: 0;
    color: inherit;
    font-size: 20px;
    font-weight: 300;
}

section.modal > div.content > footer {
    border-top: 1px solid #e4e4e4;
}

section.modal > div.content > footer > div.action-buttons {
    position: relative;
    text-align: right;
}

section.modal > div.content > footer > div.action-buttons .btn,
section.modal > div.content > footer > div.action-buttons button {
    cursor: pointer;
}

/* Toggle
------------------------------------------------------------------------------*/
section.toggles {
    position: relative;
    display: block;
    background-color: #f5f5f5;
    border-radius: 5px;
    overflow: hidden;
}

section.toggles > section.toggle {
    position: relative;
}

section.toggles > section.toggle > h3 {
    position: relative;
    padding: 20px 50px 20px 30px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    line-height: 1.5;
    background-color: #F1F1F1;
    color: #848484;
    margin: 0;
}

section.toggles > section.toggle.view > h3 {
    background-color: #e6e6e6;
}

section.toggles > section.toggle.view > h3 {
    background-color: #e6e6e6;
}

section.toggles > section.toggle > h3:before,
section.toggles > section.toggle > h3:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 3px;
    height: 15px;
    margin: auto;
    background-color: #848484;
    transition: all 200ms linear;
}

section.toggles > section.toggle > h3:before {
    transform: translateX(-30px);
}

section.toggles > section.toggle.view > h3:before {
    display: none;
}

section.toggles > section.toggle > h3:after {
    transform: rotate(90deg) translateY(30px);
}

section.toggles > section.toggle > div {
    position: relative;
    padding: 30px;
    display: none;
}

section.toggles > section.toggle > div > *:last-child {
    margin-bottom: 0px;
}

/* Multi-Tabs
------------------------------------------------------------------------------*/
.multi-tabs {
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.multi-tabs > ul {
    position: relative;
    display: -webkit-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    list-style: none;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    z-index: 1;
}

.multi-tabs > ul > li {
    display: block;
    line-height: 50px;
    padding: 0 30px;
    cursor: pointer;
    background-color: #F1F1F1;
    font-size: 12px;
    color: #929292;
    font-weight: 500;
}

.multi-tabs > ul > li:hover {
    background-color: #eaeaea;
    color: #222;
}

.multi-tabs > ul > li.active {
    /* background-color: #e6e6e6; */
    background-color: #fff;
    color: #222;
    opacity: 1 !important;
}

.multi-tabs > ul > li[disabled] {
    opacity: 0.3;
}

.multi-tabs > ul > li[disabled]:hover {
    background-color: #F1F1F1;
    color: #929292;
}

.multi-tabs > .tab {
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 30px;
    display: none;
    /* background-color: #f5f5f5; */
    background-color: #fff;
    z-index: 0;
}
